@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Russo+One|Titillium+Web|Viga');


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Topbar {
  background-color: #e6ffee;
  padding-bottom: 0.2%;
  padding-left: 4%;
  padding-top: 0.2%;
  font-size: 250%;
}

.Topbar-div{
  display: flex;
  align-items: center;
}

.Topbar-text {
  font-family: 'Russo One', sans-serif;
  color: #6600ff;
}



.Bodytext-body-div{
  display: flex;
  flex-direction: row;
  margin-right: 20vw;
}

.Bodytext-top-div{
  margin-left: 5%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
